body {
  background-image: url("/img/bk.jpg");
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

header {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#my-image-div {
  background-image: url("img/edit-text.jpg");
  height: 100%;
  width: 100%;
}

#edit {
  margin: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

li {
  width: 200px;
  position: relative;
  height: 200px;
  display: inline-block;
  overflow: auto;
  background-image: url("img/note-stick.png");
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 15px;
  text-align: left;
}
